<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="priceTaskManager" class="wk.stock.price.task.PriceTaskManager"
		init-method="getAllTask">
		<property name="taskType" value="${downPrice.type}" />
	</bean>
	
	
	<bean id="priceDao" class="wk.stock.price.dao.impl.PriceDaoImpl">
	<property name="sessionFactory" ><ref bean="sessionFactory" /></property>
	</bean>

	<bean id="priceService" class="wk.stock.price.service.impl.PriceServiceImpl">
		<property name="priceDao">
			<ref bean="priceDao" />
		</property>
	</bean>

	<bean id="downLoadPriceAction" class="wk.stock.price.action.DownLoadPriceAction">
		<property name="priceService">
			<ref bean="priceService" />
		</property>
		<property name="priceTaskManager">
			<ref bean="priceTaskManager" />
		</property>
		
		<property name="downType" value="${downPrice.type}" />
		
	</bean>

</beans>