<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
       
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
            <list>  
                <value>classpath:config.properties</value>  
            </list>  
        </property>  
    </bean>

	<context:component-scan base-package="wk.stock.price.*" />
	<context:component-scan base-package="wk.stock.info.*" />
	<context:component-scan base-package="wk.stock.bis.*" />
	<context:component-scan base-package="wk.stock.gain.*" />
	<context:component-scan base-package="wk.stock.ppcc.*" />
	<context:component-scan base-package="wk.stock.macd.*" />
	<context:component-scan base-package="wk.stock.share.*" />
	<context:component-scan base-package="wk.stock.task" />
     

<!--     <context:component-scan base-package="wk.fund.info.*" />-->
<!--     <context:component-scan base-package="wk.fund.price.*" />-->
<!--     <context:component-scan base-package="wk.fund.manager.*" />-->
<!--     <context:component-scan base-package="wk.fund.task" />-->
    
<!--	<import resource="./wk/stock/bis/resource/Spring-Bis.xml"/>-->
<!--	<import resource="./wk/stock/price/resource/Spring-Price.xml"/>-->

	<bean id="handleTreadPlus" class="wk.util.HandleTreadPlus" scope="prototype">
		<property name="action">
<!--		<ref bean="downLoadInfoAction" />-->
<!-- 			<ref bean="computeGainAction" /> -->
 			<ref bean="downLoadPriceAction" /> 
<!-- 			<ref bean="computeAllStocksPPCCAction" /> -->
<!--			<ref bean="computeMacdAction" />-->
<!-- 			<ref bean="downLoadShareAction" /> -->
<!-- 			<ref bean="downFundPriceAction" /> -->
<!-- 			<ref bean="downFundManagerAction" /> -->

		</property>
	</bean> 


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>

	<bean name="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="interceptorPointCuts"
			expression="execution(* wk.stock.*.service.impl.*.*(..)) || execution(* wk.fund.*.service.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="interceptorPointCuts" />
<!--		|| -->
<!--						execution(* wk.stock.price.service.impl.*.*(..)) || -->
<!--						execution(* wk.stock.info.service.impl.*.*(..))-->
	</aop:config>

</beans>