<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ Copyright (c) 2010, Red Hat Inc. or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, write to:
  ~ Free Software Foundation, Inc.
  ~ 51 Franklin Street, Fifth Floor
  ~ Boston, MA  02110-1301  USA
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 配置数据库的连接属性 -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:wkai1</property>
		<property name="connection.username">wkai</property>
		<property name="connection.password">wkai</property>
		<property name="connection.isolation">2</property>
		<property name="hbm2ddl.auto">none</property>

		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<property name="dialect">
			org.hibernate.dialect.Oracle9Dialect
		</property>


		<!--C3P0配置 -->
		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="hibernate.c3p0.max_size">500</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="automaticTestTable">Test</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="c3p0.testConnectionOnCheckout">true</property>
		<property name="c3p0.idleConnectionTestPeriod">18000</property>
		<property name="c3p0.maxIdleTime">25000</property>
		<property name="c3p0.idle_test_period">120</property>


		<!-- 配置持久化映射文件 -->
		<mapping resource="crawler/stock/vo/StockData.hbm.xml" />
		<mapping resource="crawler/stock/vo/StockInfo.hbm.xml" />
		<mapping resource="crawler/stock/vo/MacdCross.hbm.xml" />
		<mapping resource="crawler/stock/vo/Ppcc.hbm.xml" />
		<mapping resource="crawler/stock/vo/Income.hbm.xml" />
		<mapping resource="crawler/stock/vo/Balance.hbm.xml" />
		<mapping resource="crawler/stock/vo/Cashflow.hbm.xml" />
		<mapping resource="crawler/stock/vo/PriceDownLog.hbm.xml" />
		<mapping resource="crawler/stock/vo/Stockbonus.hbm.xml" />
		<mapping resource="crawler/fund/vo/Funddata.hbm.xml" />
		<mapping resource="crawler/fund/vo/Fundinfo.hbm.xml" />
		<mapping resource="crawler/fund/vo/FundManager.hbm.xml" />
		<mapping resource="crawler/fund/vo/ManageHistory.hbm.xml" />




	</session-factory>
</hibernate-configuration>